<a href="https://colab.research.google.com/github/idityaGE/Python/blob/main/Basics/CIA_I_que.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(max(3, 6))

def max_num(n1, n2):
  if n1 > n2:
    return n1
  else:
    return n2

print(max_num(-9, -5))

6
-5

In [6]:
def fact_rec(n):
  if n == 1:
    return 1
  return n * fact_rec(n-1)

def fact(n):
  fact = 1
  for i in range(1,n + 1):
    fact *= i
  return fact

print(fact_rec(6))
print(fact(6))

720
720

In [10]:
def is_pallin(s):
  return s == s[::-1]

print(is_pallin("level"))
print(is_pallin("Adii"))

True
False

In [13]:
def is_sym(s):
  n = len(s)
  mid = n // 2
  if n % 2 == 0:
    first_half = s[:mid]
    second_half = s[mid:]
  else:
    first_half = s[:mid]
    second_half = s[mid+1:]
  return first_half == second_half

string = input("Enter a string: ")
if is_sym(string):
    print(f"The string '{string}' is symmetrical.")
else:
    print(f"The string '{string}' is not symmetrical.")

The string is not symmetrical.

In [14]:
def is_substring(s, subs):
  if subs in s:
    return True
  else:
    return False

string = "Hello, world!"
substring = "world"

print(is_substring(string, substring))

if string.find(substring) != -1:
    print(f"'{substring}' is present in '{string}'")
else:
    print(f"'{substring}' is not present in '{string}'")

True

In [16]:
def swap(a, b):
  a, b = b, a
  return a, b

a = 5
b = 3

a, b = swap(a,b)

print(a , " ", b)

# you can use temp, XOR, add & sub method

3   5

In [17]:
list = [1,2,3,4,5]

list[0], list [2] = list[2], list[0]

print(list)

[3, 2, 1, 4, 5]

In [20]:
person = {
  "name": "Aditya",
  "age": 19
}
city = {
  "city" : "mau"
}
person.update(city)
print(person)

new_dict = {**person, **city}
print(new_dict)

merge = person | city
print(merge)

{'name': 'Aditya', 'age': 19, 'city': 'mau'}
{'name': 'Aditya', 'age': 19, 'city': 'mau'}
{'name': 'Aditya', 'age': 19, 'city': 'mau'}

In [21]:
dict = { "b" : 2 , "c" : 3}
k = "a"
v = 1
dict = {k:v, **dict}
print(dict)

{'a': 1, 'b': 2, 'c': 3}

In [25]:
num = [1,2,3,4,5]
print(num[::-1])
num.reverse()
print(num)
for index, val in enumerate(num):
  print(f"{index} --> {val}")

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
0 --> 5
1 --> 4
2 --> 3
3 --> 2
4 --> 1

In [28]:
num = [[1,2],[2,3],[3,4],[4,5]]
# for i in num:
#   print(i)

list1, list2, list3, list4 = num
print("List 1:", list1)
print("List 2:", list2)
print("List 3:", list3)

List 1: [1, 2]
List 2: [2, 3]
List 3: [3, 4]